{%- assign social-styles = "border-0 text-xl px-1 hover:text-indigo-400" %}
<footer class="absolute bottom-0 w-screen h-16 pt-4 mt-4 bg-gray-400">
  Built with
  <a class="font-bold text-indigo-600" href="https://bridgetownrb.com">Bridgetown</a>
  | <span class="mr-2">&copy; {{ "today" | date: "%Y" }}</span>

  <a href="{{ info.twitter }}" class="{{social-styles}}" rel="nofollow" target="_blank"><i class="fab fa-twitter"></i></a>
  <a href="{{ info.github }}" class="{{social-styles}}" rel="nofollow" target="_blank"><i class="fab fa-github"></i></a>
  <a href="{{ info.linkedin }}" class="{{social-styles}}" rel="nofollow" target="_blank"><i class="fab fa-linkedin"></i></a>
</footer>

