---
variables:
  metadata: [Object, "metadata"]
  links: [Object, "links"]
---


<h2> Email: <span class="font-normal">{{ metadata.email }}</span></h2>

<h2> Blog: <span class="font-normal">{{ links.blog }}</span></h2>

<h2> Github: <span class="font-normal">{{ links.github }}</span></h2>

<h2> Twitter: <span class="font-normal">{{ links.twitter }}</span></h2>

<h2> LinkedIn: <span class="font-normal">{{ links.linkedin }}</span></h2>
