---
variables:
  metadata: [Object, "metadata"]
  links: [Object, "links"]
---


<h2> Email:    </h2> <span>{{ metadata.email }}</span>
<h2> Blog:     </h2> <span>{{ links.blog }}</span>
<h2> Github:   </h2> <span>{{ links.github }}</span>
<h2> Twitter:  </h2> <span>{{ links.twitter }}</span>
<h2> LinkedIn: </h2> <span>{{ links.linkedin }}</span>
