---
variables:
  metadata: [Object, "metadata"]
  links: [Object, "links"]
---

{%- assign icon-link-styles = "border-none hover:opacity-75 focus:opacity-75" %}


<h2>Email:</h2>
<span class="">
  <a class="{{icon-link-styles}}" href="mailto:{{metadata.email}}">
    <i class="pr-4 text-xl fas fa-envelope">
      <span class="sr-only">{{metadata.email}}</span>
    </i>
  </a>
  <a href="mailto:{{metadata.email}}">
    {{ metadata.email }}
  </a>
</span>

<h2>Blog:</h2>
<span>
  <a class="{{icon-link-styles}}" href="{{links.blog}}">
    <i class="pr-4 text-xl fas fa-book"><span class="sr-only">{{links.blog}}</span></i>
  </a>
  <a href="{{links.blog}}">{{ links.blog }}</a>
</span>

<h2>Github:</h2>
<span>
  <a class="{{icon-link-styles}}" href="{{links.github}}">
    <i class="pr-4 text-xl fab fa-github"><span class="sr-only">{{links.github}}</span></i>
  </a>
  <a href="{{links.github}}">{{ links.github }}</a>
</span>

<h2>Twitter:</h2>
<span>
  <a class="{{icon-link-styles}}" href="{{links.twitter}}">
    <i class="pr-4 text-xl fab fa-twitter"><span class="sr-only">{{links.twitter}}</span></i>
  </a>
  <a href="{{links.twitter}}">{{ links.twitter }}</a>
</span>

<h2>LinkedIn:</h2>
<span>
  <a class="{{icon-link-styles}}" href="{{links.linkedin}}">
    <i class="pr-4 text-xl fab fa-linkedin"><span class="sr-only">{{links.linkedin}}</span></i>
  </a>
  <a href="{{links.linkedin}}">{{ links.linkedin }}</a>
</span>
