---
variables:
  class_name: [string, The "class" to assign to an HTML element]
  home: [boolean, Whether or not to include the home route]
  data_action: [string, Data action]
---


{% if home != true %}
  <a href="/" class="{{class_name}}"> Home </a>
{% endif %}

<a href="/about" class="{{class_name}}"> About </a>
<a href="/information" class="{{class_name}}"> Info </a>
<a href="/projects" class="{{class_name}}"> Projects </a>
<a href="/posts" class="{{class_name}}"> Posts</a>

